@media (max-width:991px) {
    .table-card{
        &.card-container {
            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 16px;
          }
    }
}

@media (max-width:576px) {
    html {
        font-size: 12px;
    }
}

@media (max-width:767px) {

    body{
        padding: 1rem;
    }
    
    
    .remove-on-mobile{
        display: none !important;
    }

    .table-card{
        &.card-container {
            display: grid;
            grid-template-columns: 1fr ;
            gap: 16px;
          }
    }
    .university-card .card-details{
        grid-template-columns: 1fr  ;

    }

    .search-container{
        flex-direction: column;
    
      }
    
      .form-group{
        width: 100%;

      }

      .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border: 1px solid var(--lightBlue);
        width: 500px;
        min-width: 80vw;
        max-width: 90vw;
        padding: 0;
      

        &.modal-xs {
          width: 200px;
          min-width: 90vw;
          max-width: 90vw;
      }
      

      

      }
    
}