:root{
    --black:#000000;
    --white:#ffffff;
    --gray:#f3f3f3;
    --dark-gray:#aaa9a9;
    --lightBlue:#697e8f;


    --primary:#278d73;
    --secondary:#ddd;
    --danger:rgb(245, 73, 73);

    --body:#f0f0f0;
    --header-size:4rem
}
